.projectCardCol {
    margin-top: .75rem;
    padding: 6px;
}
.projectCard {
    background-color:#D3D7CF;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 20px rgb(42, 42, 42); 
}
.caption {
    position: relative;
    bottom: 20px;
    background-color: rgba(5, 5, 27, 0.97);
    width: 100%;
    line-height: 2rem;
    padding: 2px;
}

.projectCardLinks {
 margin-top: -1rem;
 padding: 2px 2px 8px 2px;
 
}