.footerContainer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: -.25rem;
}

.footerFade {
    margin-bottom: -.5rem;
}

.footerContainer a {
    color: #1847a0;
    font-size: 25px;
}

a:hover {
    color: white;
}
.footerBody {
    background: rgb(0, 0, 0);
    padding-bottom: 10px;
    height: 3rem;
}