html, body {
  min-height: 100vh;
  width: 100%;
  background-color: #113372;
  text-Align: center;
  color: rgb(255, 245, 233);
  font-family: 'Epilogue', cursive;
}

.aboutParallax {
  width: 100%;
  min-height: 100vh;
  background-image: url("./images/codecrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.aboutContainer {
  width:100%;
  padding:0;
}
.aboutContainer h1 {
  width:100%;
  font-size: 42px;
  padding: 0 2rem;
  font-weight: bolder;
}
.aboutContainer h1 span {
  margin-bottom: 2rem;
  font-size: 0.75rem;
}
.aboutCard {
  border-radius: .25rem;
  background-color: rgba(248, 233, 214, 0.918);
  margin: 2px 1px;
  padding: 20px 10px;
  height: 550px;
  Color: rgb(0, 33, 85);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.527);
}

.aboutCard ul {
  padding: 1rem 2rem;
}

.greeting {
  margin-top: 3px solid lightgrey;
  display: flex;
  width: 100%;
  background-color: rgb(255, 234, 208);
  margin: 0;
  padding: 4rem;
  padding-bottom: 6rem;
  justify-content: center;
  color: rgb(3, 61, 155);
}
.greeting div h1 {
  margin-left: -4rem;
}
.greeting p {
  font-size: 18px;
}

.projectTitle h2 {
  margin: 2rem auto;
  font-size: 4rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.projectTitle h5 {
  margin: 2rem auto;
}

#techRow {
  max-width:100%;
  padding: 1rem;
  margin: -155px 0 0 0;
}